@model IEnumerable<VIMS.DataModel.AccidentCase>
@{
    ViewData["Title"] = "Accident Case List";
    Layout = "_TrafficPoliceLayout";
}
<style>

    .tgroup, h1, p {
        margin: 30px;
    }
</style>
<div>
    <h1 class="mt-4">Accident Case List</h1>

    <div class="tgroup">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>
                        Accident Type
                    </th>
                    <th>
                        Accident Vehicle Type

                    </th>
                    <th>
                        Vehicle Number

                    </th>
                    <th>
                        Accident Vehicle Category

                    </th>
                    <th>
                        Accident Date

                    </th>
                    <th>
                        Accident Location

                    </th>
                    <th>
                       Vehicle Damage

                    </th>
                    <th>
                        Total People
                    </th>
                    <th>
                        Injured People
                    </th>
                    <th>
                        Death People
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccidentType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccidentVCate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehnum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehnum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ADate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Alocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Damage)%
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tpeople)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Injuredp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deathp)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>