@model IEnumerable<VIMS.DataModel.User>

@{
    ViewData["Title"] = "Citizen Report";
    Layout = "_AdminLayout";
}
<style>

    .tgroup, h1,p {
        margin: 20px;
    }
</style>
<div class="container">
            <h1 class="mt-4">Citizen List - @ViewBag.user</h1>
       
    <p>
        <a class="btn btn-primary" asp-action="ReportCitizenPDF">Report</a>

    </p>

    <div class="tgroup">
        <table class="table table-striped table-dark text-center">
            <thead>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vehnum)
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehnum)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
