@model IEnumerable<VIMS.DataModel.TrafficPolice>

@{
    ViewData["Title"] = "Traffic Police Report";
    Layout = "_ReportLayout";
}

<style>

    .tgroup, h1,p {
        margin: 30px;
    }
</style>
<div>
    <div class="text-center pt-5">
        <h3 style="text-decoration: underline rgb(146, 146, 146);">Traffic Police Report</h3>


    </div>

    <div class="tgroup">
        <table class="table table-bordered border-primary text-center">
            <thead>
                <tr>
                    <th>
                        #SL
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Policeid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Designation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Range)
                    </th>

                </tr>
            </thead>
            <tbody>
                @{ int i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Policeid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Designation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Range)
                        </td>


                    </tr>
                        i++;
                    }
            </tbody>
        </table>
    </div>
</div>