@model IEnumerable<VIMS.DataModel.Renewapply>
@{
    ViewData["Title"] = "Renew Apply Request";
    Layout = "_AdminLayout";
}
<style>

    .tgroup, h1,p {
        margin: 10px;
    }
</style>
<div>
    <h1 class="mt-4">Fitness Renew Application - @ViewBag.renew</h1>
    <p>
        <a class="btn btn-primary" asp-action="ReportFitnessRenewPDF">Report</a>


    </p>
    <div class="tgroup">
        <table class="table table-striped table-dark text-center">

            <thead>
                <tr>

                    <th>Owner Name</th>
                    <th>Phone Number</th>
                    <th>Vehicle Category</th>
                    <th>Vehicle Number</th>
                    <th>Brand Name</th>
                    <th>Color</th>
                    <th>Chassis No.</th>
                    <th>Engine No.</th>
                    <th>Fees</th>
                    <th>Status</th>



                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vcategory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehnum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brandname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChassisNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EngineNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fees)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>